{% extends "base.html" %}

{% block content %}
<section class="instagram post">
  <img src="http://distilleryimage1.s3.amazonaws.com/91a66224f9d711e1aeda22000a1de2e0_7.jpg" width="612" height="612">
  <div class="meta">
    <div class="user clearfix">
      <img src="http://images.instagram.com/profiles/profile_214506469_75sq_1346154875.jpg" height="48" width="48">
      <div class="username"><a href="#">salinadreamer</a></div>
      <div class="fullname">Salina</div>
    </div>
    <div class="timestamp">Posted 10 minutes ago</a>
  </div>
</section>
{% end %}
