{% extends "base.html" %}

{% block content %}
<section class="instagram post">
  <!-- https://api.instagram.com/v1/users/6338560/media/recent/?access_token=190594533.f59def8.995e0c086444430580965f3cfbb594eb -->
  <!-- https://api.instagram.com/v1/users/12783736/media/recent/?access_token=190594533.f59def8.995e0c086444430580965f3cfbb594eb -->
  <img src="http://distilleryimage3.s3.amazonaws.com/4d627b4cf60411e19f0922000a1e9a7d_7.jpg" class="image" width="612" height="612">
  <div class="meta">
    <div class="timestamp">10m</div>
    <div class="user clearfix">
      <img src="http://images.instagram.com/profiles/profile_6338560_75sq_1310410355.jpg" height="56" width="56">
      <div class="username"><a href="#">cmack2187</a></div>
    </div>
  </div>
</section>

<section class="instagram post">
  <!-- https://api.instagram.com/v1/users/6338560/media/recent/?access_token=190594533.f59def8.995e0c086444430580965f3cfbb594eb -->
  <img src="http://distilleryimage6.s3.amazonaws.com/a27e6628f4b911e1877122000a1e8858_7.jpg" class="image" width="612" height="612">
  <div class="meta">
    <div class="timestamp">10m</div>
    <div class="user clearfix">
      <img src="http://images.instagram.com/profiles/profile_12783736_75sq_1346530333.jpg" height="56" width="56">
      <div class="username"><a href="#">ariash21</a></div>
    </div>
  </div>
</section>

<section class="instagram post">
  <!-- https://api.instagram.com/v1/users/6338560/media/recent/?access_token=190594533.f59def8.995e0c086444430580965f3cfbb594eb -->
  <img src="http://distilleryimage8.s3.amazonaws.com/53d67ef8ce2f11e1a3f21231381b41e4_7.jpg" class="image" width="612" height="612">
  <div class="meta">
    <div class="timestamp">10m</div>
    <div class="user clearfix">
      <img src="http://images.instagram.com/profiles/profile_6338560_75sq_1310410355.jpg" height="56" width="56">
      <div class="username"><a href="#">cmack2187</a></div>
    </div>
  </div>
</section>

{% end %}
